/*css file*/

:root {
  --primary-color: #121212;
  --secondary-color: #1f1f1f;
}

/* BASE STYLES */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    color: var(--primary-color);
    background:#ffffff;
  }
  
  /* Global */
  .container{
    width:90%;
    margin:auto;
    overflow:hidden;
  }
  
  
  /* Header **/
  header{
    background: #ffffff;
    color: var(--primary-color);
    padding-top:30px;
    max-height:80px;
    border-bottom: var(--primary-color) 3px solid;
    
  }
  .branding {
    display: flex;

  }


  

  header .container .branding a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  